# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
*.egg
.venv/
venv/
.virtualenvs/

# Rust
target/

# Build output
build/
dist/

# Binaries
*.exe
*.dll
*.pyd

# Archives
*.zip

# OS
.DS_Store
Thumbs.db
Desktop.ini

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
